<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="frame-group">
        <div class="frame-container">
          <div class="footer-logo-wrapper-parent">
            <div class="footer-logo-wrapper">
              <img
                class="image-85-icon"
                loading="lazy"
                alt=""
                src="/assets/public/image-85@2x.png"
              />
            </div>
            <input
              class="yourevent1"
              placeholder="YourIT"
              type="text"
            />
          </div>
          <div class="footer-categories">
            <div class="category-list">
              <h3 class="categories">Categories</h3>
              <div class="divider">All</div>
              <div class="divider">Pans</div>
              <div class="sport">Ticket</div>
              <div class="divider">Photography</div>
            </div>
          </div>
        </div>
        <div class="footer-resources-wrapper">
          <div class="footer-resources">
            <div class="resource-list">
              <h3 class="resources">Resources</h3>
              <div class="user-guides">User guides</div>
              <div class="sport">Help Center</div>
              <a class="business">Partners</a>
              <div class="divider">Taxes</div>
            </div>
            <div class="resource-list">
              <h3 class="company">Company</h3>
              <a class="about">About</a>
              <div class="sport">Join us</div>
            </div>
          </div>
        </div>
        <div class="footer-newsletter-wrapper">
          <div class="footer-newsletter">
            <h3 class="stay-in-the">Stay in the loop</h3>
            <div class="for-product-announcements">
              For product announcements and exclusive insights
            </div>
            <div class="textbox-56">
              <div class="filter-options">
                <img
                  class="mail-icon"
                  alt=""
                  src="/assets/public/mail@2x.png"
                />
              </div>
              <input
                class="input-your-email"
                placeholder="Input your email"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        class="footer-content-child"
        loading="lazy"
        alt=""
        src="/assets/public/line-38@2x.png"
      />
    </div>
    <div class="footer-button-wrapper">
      <button class="button-90">
        <a class="subscribe">Subscribe</a>
      </button>
    </div>
  </div>
  <div class="footer-social">
    <div class="language-select">
      <div class="textbox-55">
        <a class="english">English</a>
        <div class="filter-options">
          <img
            class="mail-icon"
            alt=""
            src="/assets/public/chevron-down-large-1@2x.png"
          />
        </div>
      </div>
    </div>
    <div class="legal-links-wrapper">
      <div class="legal-links">
        <div class="copyright-wrapper">
          <div class="brand-inc">© 2022 Brand, Inc.</div>
        </div>
        <div class="legal-items">
          <div class="div6">•</div>
        </div>
        <a class="privacy">Privacy</a>
        <div class="legal-items">
          <div class="div6">•</div>
        </div>
        <div class="terms">Terms</div>
        <div class="legal-items">
          <div class="div6">•</div>
        </div>
        <div class="sitemap">Sitemap</div>
      </div>
    </div>
    <div class="social-icons">
      <img
        class="layout-11-icon"
        loading="lazy"
        alt=""
        src="/assets/public/logo-twitter-10@2x.png"
      />
    </div>
    <div class="social-icons">
      <img
        class="settings-gear-icon"
        loading="lazy"
        alt=""
        src="/assets/public/logo-facebook-10.svg"
      />
    </div>
    <div class="social-icons">
      <img
        class="settings-gear-icon"
        loading="lazy"
        alt=""
        src="/assets/public/logo-linkedin-10.svg"
      />
    </div>
    <div class="social-icons">
      <img
        class="settings-gear-icon"
        loading="lazy"
        alt=""
        src="/assets/public/logo-youtube-10.svg"
      />
    </div>
  </div>
</footer>
