
<div class="landing-page">
  <header class="container-2">
    <div class="image-2-parent">
      <img
        class="image-2-icon"
        loading="lazy"
        alt=""
        src="assets/public/image-2@2x.png"
      />

      <div class="yourevent-wrapper">
        <a class="yourevent">
          <span>Your</span>
          <span class="event">IT</span>
        </a>
      </div>
    </div>
    <div class="button-2-parent">
      <button class="button-2">
        <a routerLink="/login" class="log-in">Log in</a>
      </button>
      <button class="button-1">
        <a class="sign-up" routerLink="/login">Log out</a>
      </button>
    </div>
  </header>


  <div></div>
  <div class="landing-page-child"></div>
  <section class="container-1-wrapper">
    <div class="container-1">
      <div class="container-1-child"></div>
      <b class="pick-up-your-container">
        <span class="pick-up-your">Explore Your</span>
        <span class="wonderful-plans">
                  <span class="span"> </span>
                  <span>wonderful IT</span>
                </span>
      </b>
      <div class="container-9">
        <div class="container-9-inner">
          <div class="search-input-wrapper-parent">
            <div class="search-input-wrapper">
              <img
                class="search-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/search-1@2x.png"
              />
            </div>
            <div class="find-the-event">
              IT SUPPORT
            </div>
          </div>
        </div>
        <div class="frame-parent">
          <div class="location-input-wrapper-wrapper">
            <div class="location-input-wrapper">
              <img
                class="location-input-wrapper-child"
                loading="lazy"
                alt=""
                src="assets/public/line-1@2x.png"
              />

              <div class="yourevent-wrapper">
                <img
                  class="search-1-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/place-4@2x.png"
                />
              </div>
              <div class="location-value-container">
                <div class="new-york-ny">IT</div>
              </div>
            </div>
          </div>
          <button class="button-6">
            <div class="search" routerLink="/dashboard">Go to dashboard</div>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="events-grid">
    <div class="events-header">
      <div class="events-title-wrapper-parent">
        <div class="events-title-wrapper">
          <div class="events-title-container">
            <div class="events-header-content">
              <b class="new-events-in-container">
                <span>New Equipment in </span>
                <app-equipment-list></app-equipment-list>
              </b>
              <div class="chevron-down-large-2-wrapper">
                <img
                  class="search-1-icon"
                  alt=""
                  src="/assets/public/chevron-down-large-2@2x.png"
                />
              </div>
            </div>
          </div>
          <button class="button-7">
            <a class="view-more">View more</a>
          </button>
        </div>
        <div class="events-container">



        </div>
      </div>
      <div class="explore-by-categories-parent">
        <h1 class="explore-by-categories-container">
          <span>See your </span>
          <span class="event">Equipment</span>
        </h1>
        <div class="categories-container">
          <div class="container-16">
            <div class="music-1-wrapper">
              <img
                class="music-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/music-1@2x.png"
              />
            </div>
            <h3 class="music">Ticket</h3>
          </div>
          <div class="container-16">
            <div class="music-1-wrapper">
              <img
                class="music-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/music-11@2x.png"
              />
            </div>
            <h3 class="sport">Ticket</h3>
          </div>
          <div class="container-17">
            <div class="music-1-wrapper">
              <img
                class="music-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/music-12@2x.png"
              />
            </div>
            <h3 class="exbition">Ticket</h3>
          </div>
          <div class="container-17">
            <div class="music-1-wrapper">
              <img
                class="music-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/music-13@2x.png"
              />
            </div>
            <h3 class="business">Ticket</h3>
          </div>
          <div class="container-19">
            <div class="music-1-wrapper">
              <img
                class="music-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/music-14@2x.png"
              />
            </div>
            <h3 class="photography">Ticket</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<app-footer></app-footer>
<router-outlet></router-outlet>


