.container-76_1-1111 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1240px;
  height: 56px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.bell-2_1-1112 {
  top: 16px;
  left: 1019px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1113 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1114 {
  top: 20px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.chevron-down-large-7_1-1115 {
  top: 22px;
  left: 1204px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1116 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.avatar-2_1-1117 {
  top: 10px;
  left: 1059px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 18px;
  background: #fbcdde;
  width: 36px;
  height: 36px;
}
.rectangle_1-1118 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-amanda-smith_1-1119 {
  top: 17px;
  left: 1101px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Mulish;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 103px;
  height: 22px;
}

.header-menu-3_1-1120 {
  top: 2px;
  left: 416px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 409px;
  height: 52px;
}
.frame_1-1121 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 110px;
  height: 52px;
}
.rectangle_1-1123 {
  top: 48px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-explore_1-1122 {
  top: 15px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #f26298;
  font-size: 14px;
  font-family: Mulish;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 50px;
  height: 22px;
}

.frame_1-1124 {
  top: 0px;
  left: 110px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 173px;
  height: 52px;
}
.text-upcoming-events_1-1125 {
  top: 15px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Mulish;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 113px;
  height: 22px;
}

.frame_1-1126 {
  top: 0px;
  left: 284px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 125px;
  height: 52px;
}
.text-my-tickets_1-1127 {
  top: 15px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Mulish;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 65px;
  height: 22px;
}

.group-8_1-3873 {
  top: 9px;
  left: 32px;
  position: absolute;
  display: flex;
  width: 171px;
  height: 38px;
}
.text-yourevent_1-1128 {
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 122px;
  height: 30px;
}

.image-35_1-1129 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_1-1130 {
  top: -1px;
  left: 1px;
  position: absolute;
  display: flex;
  width: 43px;
  height: 38px;
}
.group_1-1131 {
  width: 43px;
  height: 38px;
}
.group_1-1132 {
  width: 43px;
  height: 38px;
}
.group_1-1133 {
  width: 43px;
  height: 38px;
}
.group_1-1134 {
  width: 31px;
  height: 24px;
}
.vector_1-1135 {
  display: flex;
}

.group_1-1136 {
  width: 31px;
  height: 32px;
}
.vector_1-1137 {
  display: flex;
}

.group_1-1138 {
  width: 36px;
  height: 36px;
}
.vector_1-1139 {
  display: flex;
}
